# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# pagefind search index
public/pagefind/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.*
!.env.example

# os-specific files
.DS_Store

# vs code
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json

# personal notes
.notes/

# cache
.cspellcache
.eslintcache
.prettier-cache
.stylelintcache
