---
import Tags from "#components/tags.astro";
import { PAGES } from "#consts";
import Layout from "#layouts/layout.astro";
import { getCollection } from "astro:content";

/** all posts */
const posts = await getCollection("posts");
/** all tags (including duplicates) */
const tags = posts.flatMap((item) => item.data.tags ?? []);
/** unique tags, sorted alphabetically */
const uniqueTags = [...new Set(tags)].sort();
---

<Layout
  title={PAGES.tags.name}
  description={PAGES.tags.description}
  breadcrumbs
>
  <h1>Etiquetas</h1>
  <p>Seleccione una etiqueta para ver todas las publicaciones relacionadas:</p>

  <Tags
    tagNames={uniqueTags}
    class="my-6"
  />
</Layout>
