---
import { PAGES } from "#consts";
import Layout from "#layouts/layout.astro";
---

<Layout
  title={PAGES.contact.name}
  description={PAGES.contact.description}
>
  <h1>Contacto</h1>
  <p>
    Correo electrónico de contacto (temporal):
    <a href="mailto:jesuscastaner.error758@passmail.com">
      jesuscastaner.error758@passmail.com
    </a>
  </p>
</Layout>
