---
import Link from "#components/link.astro";
import { PAGES } from "#consts";
import Layout from "#layouts/layout.astro";
---

<Layout
  title={PAGES.contact.name}
  description={PAGES.contact.description}
  breadcrumbs
>
  <h1>Contacto</h1>
  <p>
    Correo electrónico de contacto (temporal):
    <Link href="mailto:jesuscastaner.error758@passmail.com">
      jesuscastaner.error758@passmail.com
    </Link>
  </p>
</Layout>
