---
import Layout from "#layouts/layout.astro";
---

<Layout title=`Inicio`>
  <p>
    <strong>Jesús Castañer</strong> (Madrid, 1996) es compositor y crítico de música.
    Sus obras han sido interpretadas por solistas y agrupaciones de proyección internacional,
    como Patricia Kopatchinskaja, Camerata Bern, Quatuor Diotima o la Orquesta de
    Valencia, entre otros. Como crítico, colabora de forma habitual en la revista
    <em>Scherzo</em>, donde publica artículos, entrevistas y reseñas de
    conciertos y grabaciones. Ha sido autor de textos de programas de mano y
    libretos de álbumes discográficos para los BBC Proms, Philharmonie
    Luxembourg, Pentatone e Ibs Classical.
  </p>
  <p>
    Contacto (temporal):
    <a href="mailto:jesuscastaner.error758@passmail.com">
      jesuscastaner.error758@passmail.com
    </a>
  </p>
</Layout>
