---
import Link from "#components/link.astro";
import { SOCIALS } from "#consts";
import { Icon } from "astro-icon/components";
import type { HTMLAttributes } from "astro/types";

/** props for the footer component */
type Props = HTMLAttributes<"footer">;
const { class: className, ...props } = Astro.props as Props;

/** the current year */
const currentYear = new Date().getFullYear();
---

<footer
  {...props}
  class:list={[
    "bg-background mt-6 flex flex-col gap-4 border-t-2 py-6 text-center",
    className,
  ]}
>
  <!-- socials -->
  <ul class="flex flex-wrap justify-center gap-4 sm:gap-6">
    {
      SOCIALS.map(({ name, href, iconSlug }) => (
        <li class="flex items-center">
          <Link
            href={href}
            title={name}
            hideOpenInNew
            noUnderline
            class="transition-transform hover:-translate-y-1"
          >
            <Icon
              name={iconSlug}
              size={30}
            />
          </Link>
        </li>
      ))
    }
  </ul>

  <!-- copyright -->
  <small>
    © {currentYear} Jesús Castañer. Todos los derechos reservados.
  </small>
</footer>
