---
import Layout from "#layouts/layout.astro";
import { Icon } from "astro-icon/components";
import type { ComponentProps } from "astro/types";

/** props for the wip (work-in-progress) layout */
type Props = Pick<ComponentProps<typeof Layout>, "title" | "image">;
const { title, image } = Astro.props;
---

<Layout
  title={title}
  description="En construcción..."
  image={image}
>
  <div class="my-6 flex flex-col items-center text-center">
    <p>...en construcción...</p>
    <Icon
      name="hammer"
      size={24}
      class="text-foreground mt-6 animate-spin"
    />
  </div>
</Layout>
